<table>
    <td>
        <h3>
            <a [routerLink]="['inicio']">
                <b class="Inicio">
                    <i class="fa-solid fa-house"></i>
                </b>                
                <br>Inicio
            </a> 
        </h3> 
        </td>
        <td>
        <h3>
            <a [routerLink]="['buscar']">
                <b class="Buscar">
                    <i class="fa-brands fa-searchengin"></i>                    
                </b>
                <br> Buscar 
            </a>
        </h3>
        </td>
        <td>
            <h3>
            <a [routerLink]="['lista']">
                <b class="Lista">
                    <i class="fa-solid fa-list"></i>                    
                </b>
                <br> Lista
            </a> 
        </h3> 
        </td>
        <td>
            <h3>
            <a [routerLink]="['categoría']">
                <b class="Categoría">
                    <i class="fa-brands fa-rebel"></i>                 
                </b>
                <br> Categoría
            </a>
            </h3>
        </td>
        <td>
        <h3>
            <a [routerLink]="['regresar']">
                <b class="Regresar">
                    <i class="fa-solid fa-rotate-right"></i>
                    </b>
                    <br> Regresar
                </a>
        </h3>
        </td>
        <td>
            <h4>
            <a [routerLink]="['menu']">
                <b class="Menu"> 
                    <i class="fa-solid fa-square-caret-down"></i>                    
                    </b>
                    <br> 
                </a>
            </h4>
        </td>
</table>
