
<h4>
    <p>
        <br><br>
        El Objetivo de esta app es brindar informacion sobre figuras 
        funko pop saber donde conseguirlos, sus marcas y sus tipos:
        <br><br>
        -Llaveros
        <br>
        -Camisas
        <br>
        -Figuras
        <br><br>
        Dando los links directos hacia paginas donde se puedan adquirir 
        dichos articulos.
        <br><br>
        Amazon:
        "https://www.amazon.com/"
       <br><br>
        Walmart:
        "https://www.walmart.com/"
       <br><br>
        Hot topic:
        "https://www.hottopic.com/"
       <br><br>

</h4>

