<footer class="fondo">
    <p class="letra">¡Siguenos en nuestras Redes Sociales!</p>
    <a class="face" href="https://www.facebook.com/" target="_blank"><i class class="fa-brands fa-facebook-square"></i></a>
    <a class="insta" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a class="twitter" href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter-square"></i></a>
    <br>
    <br>
    <a class="tu">Aviso de Privacidad.|</a><a class="ty"> Acerca de Jimmys. |</a><a class="ty"> Atención a clientes.</a>
    <br>
    <br>
    <b class="we"><i class="fa-solid fa-shield-halved"></i> Compra segura.</b>
    <br>
    <b class="we"><i class="fa-solid fa-square-envelope"></i>  AtenciónClientes@Jimmys.com</b>
    <br>
    <b class="we"><i class="fa-solid fa-shop"></i> Localiza tu sucursal Jimmys!</b>
    <br>
    <p class="po">2022 © Sucursales Jimmys todos los derechos reservados. </p>
    <br>
</footer>