<header>
    <table><!--esta es una tabla-->
       <tr>
           <td class="izquierda">
               <img class="logo" src="../../assets/imagenes/1.png">
           </td>
           <td class="derecha">
               <h4>
               <a [routerLink]="['sesion']">
                   <i class="fa-solid fa-house"></i> Iniciar sesión 
               </a>
               <a href="https://api.whatsapp.com/send?phone=528672207926" target="_blank">
                <br> <i class="fa-solid fa-id-badge"></i> Contacto 
                </a>
            </h4>
           </td>
       </tr>
    </table>
</header>