<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen47.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Marvel </p>
                    <p class="Nombre"> Camisa Civil War </p>
                </td>
            </tr>
        </table>
    </header>
</section>

<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen48.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Marvel </p>
                    <p class="Nombre"> Deadpool </p>
                </td>
            </tr>
        </table>
    </header>
</section>

<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen49.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Star wars </p>
                    <p class="Nombre"> Chewbacca </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen50.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Star wars </p>
                    <p class="Nombre"> Capitana Pasma </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen51.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Rick and morty </p>
                    <p class="Nombre"> Rick and morty </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen52.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Rick and morty </p>
                    <p class="Nombre"> Jerry </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen53.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> FNAF </p>
                    <p class="Nombre"> Bonnie </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen54.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Movies </p>
                    <p class="Nombre"> Freddy vs Jason </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen3" src="../../../assets/imagenes/imagen55.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Master of universe </p>
                    <p class="Nombre"> Skeletor </p>
                </td>
            </tr>
        </table>
    </header>
</section>
