.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}
.titulo{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size:x-large;
}