/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'SyneMono';
    src: url(../src/assets/fuentes/SyneMono-Regular.ttf);
}
@font-face{
    font-family: 'RobotoMono';
    src: url(../src/assets/fuentes/RobotoMono-VariableFont_wght.ttf);
}