<H1>
    <p> 
       DC comics
    </p>
 </H1>
 <owl-carousel
 [options]="{ items: 2, dots: false}"
    [carouselClasses]="['owl-theme']">
    <div *ngFor="let imagen4 of imagenes4">
       <img src = "{{imagen4}}">  
    </div>
 </owl-carousel>
 <H1>
    <p> 
       Superheoroes
    </p>
 </H1>
 <owl-carousel
 [options]="{ items: 2, dots: false}"
    [carouselClasses]="['owl-theme']">
    <div *ngFor="let imagen5 of imagenes5">
       <img src = "{{imagen5}}">  
    </div>
 </owl-carousel>
 <H1>
    <p> 
          Anime
    </p>
 </H1>
 <owl-carousel
 [options]="{ items: 2, dots: false}"
    [carouselClasses]="['owl-theme']">
    <div *ngFor="let imagen6 of imagenes6">
       <img src = "{{imagen6}}">  
    </div>
 </owl-carousel>
 <H1>
    <p> 
          Series
    </p>
 </H1>
 <owl-carousel
 [options]="{ items: 2, dots: false}"
    [carouselClasses]="['owl-theme']">
    <div *ngFor="let imagen7 of imagenes7">
       <img src = "{{imagen7}}">  
    </div>
 </owl-carousel>
 
 