<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen4.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> WWE </p>
                    <p class="Nombre"> Rey Misterio </p>
                </td>
            </tr>
        </table>
    </header>
</section>

<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen13.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> DC comics </p>
                    <p class="Nombre"> Batman </p>
                </td>
            </tr>
        </table>
    </header>
</section>

<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen21.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Naruto </p>
                    <p class="Nombre"> PAIN </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen16.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> DC comics </p>
                    <p class="Nombre"> Harley Quinn </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen6.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Star Wars </p>
                    <p class="Nombre"> The Mandalorian </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen40.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> The Office </p>
                    <p class="Nombre"> Micheal Scott </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen5.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> MARVEL </p>
                    <p class="Nombre"> Spiderman </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen10.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Grease </p>
                    <p class="Nombre"> Danny zuko </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen11.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Dragon ball </p>
                    <p class="Nombre"> Vegeta </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen19.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Friends </p>
                    <p class="Nombre"> Joey Tribbiani </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen23.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> Saintseiya </p>
                    <p class="Nombre"> Pegasus Seiya </p>
                </td>
            </tr>
        </table>
    </header>
</section>
<section>
    <header>
        <table>
            <tr>
                <tr>
                    <th>
                    <img class="imagen4" src="../../../assets/imagenes/imagen15.jpg" height="350">
                </th>
                <td class="descripcion">
                    <p class="titulo"> Funko pop</p>
                    <p class="marca"> DC </p>
                    <p class="Nombre"> The cheetah </p>
                </td>
            </tr>
        </table>
    </header>
</section>