<form><!--crea los formularios-->
    <br><!--salto de linea-->
    <table>
        <img src="../../assets/imagenes/1.png">
    </table>
    <br>
    <div>
        <label>
            Correo electronico
        </label>
        <br>
        <input type="email" placeholder="Escribe tu Correo">
        <br><br>
        <label>
            Contraseña
        </label>
        <br>
        <input type="password" placeholder="Debe tener 8 caracteres">
        <br><br>
        <a routerLink="['../sesion']"> ¿No tienes ninguna cuenta? Click aqui</a>
        <br><br>
        <button>
            <a> <i class="fa-solid fa-circle-plus"> </i> Iniciar sesion </a> </button>
            <br><br>
            <a [routerLink]="['../registro']" >Olvidaste tu Contraseña? </a>
        <br><br>
        <H4>
            <p> 
               @Ever_Mireles
            </p>
         </H4>
</div>
</form>