<form><!--crea los formularios-->
    <br><!--salto de linea-->
    <table>
        <img class= "imagen" src="../../assets/imagenes/login.png">
    </table>
    <br>
    <div>
        <label>
            Nombre
        </label>
        <br>
        <input type="name" placeholder="Escribe tu Nombre">
        <br><br>
        <label>
            Apellido
        </label>
        <br>
        <input type="name" placeholder="Escribe tu Apellido">
        <br><br>
        <label>
            Correo electronico
        </label>
        <br>
        <input type="email" placeholder="Escribe tu Correo">
        <br><br>
        <label>
            Contraseña
        </label>
        <br>
        <input type="password" placeholder="Debe tener 8 caracteres">
        <br><br>
        <label>
            Confirmar contraseña
        </label>
        <br>
        <input type="password" placeholder="Debe tener 8 caracteres">
        <br><br>
        <button>
            <a> <i class="fa-solid fa-circle-plus"> </i> Guardar </a> </button>
        <br><br>
        <H4>
            <p> 
               @Ever_Mireles
            </p>
         </H4>
</div>
</form>